USE [master]
GO
/****** Object:  Database [usercloud]    Script Date: 4/23/2022 10:33:42 AM ******/
CREATE DATABASE [usercloud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'usercloud_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\usercloud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'usercloud_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\usercloud.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [usercloud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [usercloud]
GO
/****** Object:  Table [dbo].[containers]    Script Date: 4/23/2022 10:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[containers](
	[cName] [nvarchar](100) NOT NULL,
	[userId] [int] NOT NULL,
	[port] [int] NULL,
	[ram] [varchar](10) NULL,
	[cpu] [varchar](10) NULL,
	[status] [nvarchar](50) NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_containers] PRIMARY KEY CLUSTERED 
(
	[cName] ASC,
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[info]    Script Date: 4/23/2022 10:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[info](
	[Id] [int] NOT NULL,
	[username] [varchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[role] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
